---
layout: page
---
{% for post in paginator.posts %}
<article class="post">
	<header>
		<div class="title">
			<h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
			<p>{{post.description}}</p>
			<time class="published" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time>
		</div>
	</header>
	{% if post.featureimg %}
	<a href="{{ post.url | prepend: site.baseurl }}" class="image featured"><img src="{{ post.featureimg | prepend: site.baseurl }}"></a>
	{% endif %}
	<p>{{ post.excerpt | limit: 150 }}</p>
	<footer>
		<ul class="actions">
			<li><a href="{{ post.url | prepend: site.baseurl }}" class="button big">Continue Reading <i class="fa fa-lg fa-angle-double-right"></i> </a></li>
		</ul>
		<ul class="stats">
			{% for category in post.categories %}
			<li>Category: {{ category }}</li>
			{% endfor %}
		</ul>
	</footer>
</article>
{% endfor %}
